@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Electrónica</h2>
        <p> 
            Dispositivos de uso personal y doméstico
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ropa</h2>
        <p>Camisetas, vaqueros, zapatos, etc.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hogar</h2>
        <p>Muebles y otros chismes para la kely</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Libros</h2>
        <p>
            Libros de historia, ciencias, cocina, geografía, etc.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Joyería</h2>
        <p>Anillos, cadenas, oro, plata y mucho más.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vídeo juegos</h2>
        <p>Nintendo Switch, PlayStation 4, XBOX One</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coches</h2>
        <p>
            Artículos para coches de todas las marcas.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alimentación</h2>
        <p>Venta de alimentos extranjeros.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Otros</h2>
        <p>Variedad de diferentes artículos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver &raquo;</a></p>
    </div>
</div>